@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', semi-serif;

}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items:center;
    background: linear-gradient(45deg,#322b2b,#0e1f3a);
    
}
.calculator{
    border: 1px solid rgb(72, 67, 67);
    padding: 20px;
    border-radius: 16px;
    background: transparent;
    box-shadow: 0px 3px 15px rgb(113, 115, 119,0.5);

}
input{
    width: 320px;
    border: none;
    padding: 24px;
    margin: 1px;
    background: transparent;
    box-shadow: 0px 3px 15px rgba(84,84,84,0.1);
    font-size: 40px;
    text-align: right;
    cursor: pointer;
    color: #ffffff;
}
input::placeholder{
    color: #ffffff;
}

button{
    border:none;
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius: 50%;
    background: transparent;
    color: #ffffff;
    font-size: 20px;
    box-shadow: -8px -8px 15px rgb(255,255,255, 0.1);
    cursor: pointer;
}
.equalbtn{
    background-color: #fb7c14;
}